<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//subroutines.thread.HibernateThread/subroutines.thread.HibernateThread Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            jdbc:mysql://localhost/test
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>
        <property name="connection.username">
            root
        </property>
       <property name="connection.password">
       </property>

        <property name="show_sql">true</property>

        <!-- DB schema will be updated if needed -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="pojo.printer.descriptors.ControlLoopPID"/>
        <mapping class="pojo.printer.descriptors.AccelerationSettings"/>
        <mapping class="pojo.printer.descriptors.AdditionalInfo"/>
        <mapping class="pojo.printer.descriptors.BuildVolume"/>
        <mapping class="pojo.printer.descriptors.HomeOffset"/>
        <mapping class="pojo.printer.descriptors.MaxFeedrate"/>
        <mapping class="pojo.printer.descriptors.StepsPerUnit"/>
        <!--<editor-fold desc="Description">-->
        <mapping class="pojo.printer.Printer"/>
        <mapping class="serialcomms.SerialCommunicator"/>
        <mapping class="pojo.Command"/>
        <!--</editor-fold>-->
    </session-factory>
</hibernate-configuration>